<div class="notes-body">
    <div class="list-container">
        <div class="filter-container">
            <div class="input-container">
                <input 
                type="text" 
                placeholder="Seach for note"
                spellcheck="false" 
                autocomplete="off">
                <div>
                    <i class="fas fa-times-circle icon"></i>
                </div>
            </div>
        </div>
        <div class="lists">
            <div class="list-item">
                <div class="list-item-p">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ratione quas iste aspernatur maxime quod, repellendus dolore corrupti cupiditate, ea et repellat nihil esse recusandae sint voluptates maiores minus accusamus?</p>
                </div>
                <div class="list-control">
                    <i class="fas fa-trash icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="text-container">
        <textarea spellcheck="false" placeholder="Quick note"></textarea>
        <i class="fas fa-heart icon"></i>
    </div>
</div>