@use "../../../styles.scss" as styles;

.home-container {
  @include styles.displayFlex(row, center, center);
  position: relative;
}

.main-app {
  width: 100vw;
  height: 100vh;
  @include styles.displayFlex(column, center, center);
  transition: 0.3s width;
}

app-navbar {
  width: 97%;
  height: 6%;
  @include styles.displayFlex(row, center, space-between);
}

app-files-container,
app-notes-container {
  width: 100%;
  height: 47%;
  @include styles.displayFlex(row, flex-end, center);
  padding-bottom: 15px;
}

.sidebar {
  height: 100vh;
  background-color: #202225;
  transition: 0.3s width;
  border-radius: 0 styles.$borderRadius styles.$borderRadius 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 3;
  @include styles.displayFlex(column, center, space-between);
  padding: 15px 0;
  overflow: hidden;
  width: 15%;
}

.sidebar-main {
  width: 90%;
  height: 60%;
}

.sidebar-account {
  width: 90%;
  height: 30%;
  background-color: styles.$containers;
  border-radius: styles.$borderRadius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @include styles.displayFlex(column, center, center);
  padding: 5px;

  .acc-date {
    width: 100%;
    height: 60%;

    small {
      color: styles.$fadeText;
      font-weight: bolder;
      letter-spacing: 0.4px;
    }

    h3 {
      color: white;
      margin-top: 5px;
      text-align: center;
      letter-spacing: 0.5px;
    }
  }

  .acc-btn {
    width: 100%;
    height: 40%;
    @include styles.displayFlex(column, center, center);

    .btn {
      padding: 10px 15px;
      background-color: #f72f4e;
      color: white;

      h4 {
        letter-spacing: 0.5px;
      }
    }
  }
}

.show-navbar {
  .main-app {
    width: 85%;
  }
  .sidebar {
    width: 15%;

    .side-delay,
    .side-delay-lr {
      transition: 0.8s clip-path;
      transition-delay: 0.2s;
      clip-path: inset(0 0 0 0);
    }
  }
}

.hide-navbar {
  .main-app {
    width: 100%;
  }
  .sidebar {
    width: 0;

    .side-delay {
      transition: 0.15s clip-path;
      transition-delay: 0s;
      clip-path: inset(0 0 0 100%);
    }

    .side-delay-lr {
      transition: 0.15s clip-path;
      transition-delay: 0s;
      clip-path: inset(0 100% 0 0);
    }
  }
}

.sidebar-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
}

.modal-delete-body {
  @include styles.displayFlex(column, center, space-around);

  span {
    width: 100%;
    height: 40%;
    @include styles.displayFlex(column, center, flex-end);
    letter-spacing: 0.7px;
    padding-bottom: 20px;

    h2 {
      color: white;
    }

    p {
      color: styles.$fadeText;
      font-weight: bolder;
    }
  }

  div {
    width: 70%;
    height: 20%;
    @include styles.displayFlex(row, flex-end, space-around);

    .btn {
      padding: 10px 15px;
      color: white;
      position: relative;

      h4 {
        letter-spacing: 0.5px;
        transition: 0.3s transform, 0.2s opacity;
      }

      &.delete-btn {
        background-color: #f72f4e;
      }

      .btn-icon {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s top, 0.2s opacity;
        pointer-events: none;

        &.wave-btn-icon {
          animation: none;
        }
      }

      &:hover {
        h4 {
          transform: translateY(110%);
          opacity: 0;
        }
        .btn-icon {
          top: 50%;
          opacity: 1;
          pointer-events: auto;

          &.wave-btn-icon {
            animation: wave 2s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);

            @keyframes wave {
              0% {
                transform: translate(-50%, -50%) rotate(20deg);
              }
              50% {
                transform: translate(-50%, -50%) rotate(70deg);
              }
              100% {
                transform: translate(-50%, -50%) rotate(20deg);
              }
            }
          }
        }
      }
    }
  }

  .bye-bottom-msg {
    width: 100%;
    height: 30%;
    @include styles.displayFlex(column, center, center);
    color: styles.$fadeText;
    font-weight: bolder;
    letter-spacing: 0.8px;
  }
}
