<div
  class="home-container"
  [ngClass]="showNavbar ? 'show-navbar' : 'hide-navbar'"
>
  <div class="sidebar" (mouseover)="showNav()" (mouseleave)="hideNav()">
    <div class="sidebar-main"></div>
    <div class="sidebar-feedback">
      <span class="stars-feedback">
        <small class="side-delay">Rate application</small>
        <div class="stars"></div>
      </span>
      <div class="feedback-action">
        <button class="btn side-delay-lr">
          <h4>Leave a feedback</h4>
        </button>
      </div>
    </div>
    <div class="sidebar-account">
      <span class="acc-date">
        <small class="side-delay">Account Created on</small>
        <h3 class="side-delay">
          {{ user?.dateAccCreated | date: "mediumDate" }}
        </h3>
      </span>
      <div class="acc-btn">
        <button class="btn side-delay-lr" (click)="toggleModal()">
          <h4>Delete Account</h4>
        </button>
      </div>
    </div>
  </div>
  <div class="main-app">
    <app-navbar (showNavbarEmitter)="onNavbarChanged($event)"></app-navbar>
    <app-notes-container></app-notes-container>
    <app-files-container></app-files-container>
  </div>

  <div class="sidebar-line" (mouseover)="showNav()"></div>

  <div
    class="modal"
    (mouseover)="hideNav()"
    (click)="onModalClicked($event)"
    [ngClass]="shouldShowModal ? 'show-modal' : 'hide-modal'"
  >
    <div class="modal-body modal-delete-body">
      <span>
        <h2>Are you sure you want to delete your account?</h2>
        <p>Sad to see you go.. 😞</p>
      </span>
      <div class="modal-action">
        <button class="btn delete-btn" (click)="onDeleteAccount()">
          <h4>Yes, delete!</h4>
          <p class="btn-icon wave-btn-icon">👋🏼</p>
        </button>
        <button class="btn" (click)="toggleModal()">
          <h4>Nope, changed my mind!</h4>
          <p class="btn-icon">😃</p>
        </button>
      </div>
      <p class="bye-bottom-msg">
        If yes, you will be directed to the Login page
      </p>
    </div>
  </div>
</div>
