<div
  class="home-container"
  [ngClass]="showNavbar ? 'show-navbar' : 'hide-navbar'"
>
  <div class="sidebar" (mouseover)="showNav()" (mouseleave)="hideNav()">
    <div class="sidebar-main"></div>
    <div class="sidebar-feedback">
      <span class="stars-feedback">
        <small class="side-delay">Rate application</small>
        <div class="stars">
          <app-stars></app-stars>
        </div>
      </span>
      <div class="feedback-action">
        <button class="btn side-delay-lr" (click)="toggleFeedbackModal()">
          <h4>Leave a feedback</h4>
        </button>
      </div>
    </div>
    <div class="sidebar-account">
      <span class="acc-date">
        <small class="side-delay">Account Created on</small>
        <h3 class="side-delay">
          {{ user?.dateAccCreated | date: "mediumDate" }}
        </h3>
      </span>
      <div class="acc-btn">
        <button class="btn side-delay-lr" (click)="toggleDeleteModal()">
          <h4>Delete Account</h4>
        </button>
      </div>
    </div>
  </div>
  <div class="main-app">
    <app-navbar (showNavbarEmitter)="onNavbarChanged($event)"></app-navbar>
    <app-notes-container></app-notes-container>
    <app-files-container></app-files-container>
  </div>

  <div class="sidebar-line" (mouseover)="showNav()"></div>

  <div
    class="modal"
    (mouseover)="hideNav()"
    (click)="onModalClicked($event)"
    [ngClass]="showDeleteModal ? 'show-modal' : 'hide-modal'"
  >
    <div class="modal-body modal-delete-body">
      <span>
        <h2>Are you sure you want to delete your account?</h2>
        <p>Sad to see you go.. 😞</p>
      </span>
      <div class="modal-action">
        <button class="btn delete-btn" (click)="onDeleteAccount()">
          <h4>Yes, delete!</h4>
          <p class="btn-icon wave-btn-icon">👋🏼</p>
        </button>
        <button class="btn" (click)="toggleDeleteModal()">
          <h4>Nope, changed my mind!</h4>
          <p class="btn-icon">😃</p>
        </button>
      </div>
      <p class="bye-bottom-msg">
        If yes, you will be directed to the Login page
      </p>
    </div>
  </div>

  <div
    class="modal"
    (mouseover)="hideNav()"
    (click)="onModalClicked($event)"
    [ngClass]="showFeedbackModal ? 'show-modal' : 'hide-modal'"
  >
    <Form class="modal-body modal-email-body" [formGroup]="emailForm">
      <!-- saw a bug? love the app? have an idea for a feature? write to me! :D -->
      <div class="email-header">
        <span
          ><p>Saw a bug?</p>
          <p>Love the app?</p>
          <p>Have an idea?</p></span
        >
        <h2>Write to me!</h2>
      </div>
      <div class="email-body">
        <div class="email-options">
          <input
            type="text"
            autocomplete="off"
            placeholder="Your Email address"
            spellcheck="false"
            formControlName="emailAddress"
          />
          <small
            *ngIf="
              emailForm.get('emailAddress').hasError('emailError') &&
              emailForm.get('emailAddress').touched
            "
          >
            Invalid email address
          </small>
        </div>
        <div class="email-textarea">
          <textarea
            spellcheck="false"
            placeholder="Write your message"
            formControlName="emailMessage"
          ></textarea>
          <small
            *ngIf="
              emailForm.get('emailMessage').hasError('textareaError') &&
              emailForm.get('emailMessage').touched
            "
          >
            Your message cannot be empty
          </small>
        </div>
      </div>
      <div class="email-action" [ngClass]="emailClass">
        <button
          class="btn send-email-btn"
          type="submit"
          (click)="sendEmail()"
          [ngClass]="emailForm.invalid ? 'disable-btn' : 'enable-btn pop-btn'"
        >
          <h4>Send Email</h4>
        </button>
        <button class="btn" (click)="toggleFeedbackModal()">
          <h4>Cancel</h4>
        </button>

        <img src="assets/loading_gif.gif" alt="loading_gif" class="spinner" />

        <div class="email-response error-response">
          <div class="email-msg">
            <h4>Sorry, an error occurred 😟</h4>
          </div>
          <div class="email-close">
            <i class="fas fa-window-close icon" (click)="closeResponse()"></i>
          </div>
        </div>
        <div class="email-response success-response">
          <div class="email-msg">
            <h4>A copy of the mail has been sent to you 🙂</h4>
          </div>
          <div class="email-close">
            <i class="fas fa-window-close icon" (click)="closeResponse()"></i>
          </div>
        </div>
      </div>
    </Form>
  </div>
</div>
