@use "../../../styles.scss" as styles;

.main-app {
  width: 100%;
  height: 100%;
  @include styles.displayFlex(column, center, center);
}

app-files-container {
  width: 100vw;
  height: 47vh;
  @include styles.displayFlex(row, flex-end, center);
  padding-bottom: 15px;
}
