<div class="notes-body">
  <app-note-list-container
    [shouldClearFilter]="shouldClearFilter"
  ></app-note-list-container>
  <div class="text-container">
    <textarea
      #noteTextarea
      [(ngModel)]="textareaValue"
      (keyup)="onKeyup()"
      spellcheck="false"
      placeholder="{{ textareaPlaceholder }}"
    ></textarea>
    <div class="textarea-action">
      <i
        class="fas fa-share save-icon"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip">Share your text</p></i
      >
      <i
        class="fas fa-copy copy-icon"
        (click)="copyToClipboard(noteTextarea)"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip">Copy text</p>
      </i>
      <i
        class="fas fa-times-circle clear-icon"
        (click)="clearTextarea()"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip move-left">Clear text</p>
      </i>
    </div>
  </div>
</div>
