<div class="notes-body">
  <app-note-list-container
    [shouldClearFilter]="shouldClearFilter"
  ></app-note-list-container>
  <div class="text-container">
    <textarea
      #noteTextarea
      [(ngModel)]="textareaValue"
      (keydown.shift.enter)="onShiftEnter($event)"
      (keyup)="onKeyup()"
      spellcheck="false"
      placeholder="{{
        'Quick note\n\nPress Shift + Enter for quick save!\nTip: Your note stays here even without saving!'
      }}"
    ></textarea>
    <div class="textarea-action">
      <i
        class="fas fa-save save-icon"
        (click)="saveTextarea()"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip">Save as note</p></i
      >
      <i
        class="fas fa-copy copy-icon"
        (click)="copyToClipboard(noteTextarea)"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip">Copy text</p>
      </i>
      <i
        class="fas fa-times-circle clear-icon"
        (click)="clearTextarea()"
        [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
      >
        <p class="tooltip move-left">Clear text</p>
      </i>
    </div>
  </div>
</div>
