<div class="notes-body">
  <app-note-list-container></app-note-list-container>
  <div class="text-container">
    <textarea
      [(ngModel)]="textareaValue"
      (keydown.shift.enter)="onShiftEnter($event)"
      (keyup)="onKeyup()"
      spellcheck="false"
      placeholder="{{
        'Quick note\n\nPress Shift + Enter for quick save!\nTip: Your note stays here even without saving!'
      }}"
    ></textarea>
    <i
      class="fas fa-times-circle"
      (click)="clearTextarea()"
      [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
    ></i>
    <i
      class="fas fa-heart"
      (click)="saveTextarea()"
      [ngClass]="textareaValue ? 'icon' : 'disable-icon'"
    ></i>
  </div>
</div>
