@use "../../../../styles.scss" as styles;

:host {
  width: 100%;
  height: 47%;
  @include styles.displayFlex(row, center, center);
}

.notes-body {
  width: 97%;
  height: 90%;
  @include styles.displayFlex(row, center, space-between);

  & > * {
    height: 100%;
    background-color: styles.$containers;
    border-radius: styles.$borderRadius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  .text-container {
    width: 47%;
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: styles.$containers;
    border-radius: styles.$borderRadius;

    textarea {
      width: 100%;
      height: 100%;
    }

    .textarea-action {
      position: absolute;
      bottom: 15px;
      right: 20px;
      height: 5vh;
      display: flex;
      @include styles.displayFlex(row, center, space-between);

      i {
        font-size: 21px;
        opacity: 0;
        transform: translateY(9vh);
        transition: 0.35s transform, 0.2s opacity;
        margin-left: 25px;

        &.copy-icon {
          transition-delay: 0.1s;
        }
        &.save-icon {
          transition-delay: 0.2s;
        }
      }
    }

    @keyframes show-hint {
      0% {
        top: -10%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
      }
      20% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      100% {
        top: -160%;
        opacity: 0;
      }
    }

    &:hover {
      .textarea-action i {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

@media all and (max-width: 780px) {
  .notes-body {
    height: 100%;
    @include styles.displayFlex(column, center, space-evenly);
    padding-bottom: 15px;

    & > * {
      width: 100%;
      height: 35vh !important;
    }

    .text-container {
      width: 100%;
      height: 30vh !important;
      overflow: visible;

      .textarea-action {
        height: 6vh;
        bottom: -3vh;
        border-radius: styles.$smallBorderRadius;
        border: 1px solid #32353b;
        background-color: #40444b;
        padding: 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 5;

        i {
          margin: 0 10px !important;
          font-size: 18px;
          transform: translateY(0);
          opacity: 1;
          transition-delay: 0s !important;
        }
      }
    }
  }
}
