@use "../../../../styles.scss" as styles;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

:host {
  width: 100%;
  height: 47%;
  @include styles.displayFlex(row, flex-end, center);
  padding-bottom: 15px;
}

.files-body {
  width: 97%;
  height: 90%;
  background-color: styles.$containers;
  border-radius: styles.$borderRadius;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  .controls {
    height: 6vh;
    position: absolute;
    top: -3vh;
    right: 20px;
    border-radius: styles.$smallBorderRadius;
    border: 1px solid #32353b;
    background-color: #40444b;
    @include styles.displayFlex(row, center, center);
    padding: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;

    i {
      font-size: 18px;
      margin: 0 10px;
    }

    .arrow-up {
      position: absolute;
      left: 20px;
      margin: 0;
      animation: move-up-arrow 2s ease-out infinite;
      color: #72767d;
      pointer-events: none;
    }
  }

  .files-container {
    width: 100%;
    height: 100%;
    @include styles.displayFlex(row, center, flex-start);
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 0;
    }

    .file-item {
      max-width: 22vw;
      min-width: 22vw;
      height: 90%;
      margin-left: 13px;
      border-radius: styles.$smallBorderRadius;
      @include styles.displayFlex(column, center, space-evenly);
      padding: 0 5px;
      cursor: pointer;
      transition: 0.2s background-color;
      transform-origin: top;
      position: relative;

      &.locked-ui {
        background-color: #3b3d44;

        .locked-text {
          opacity: 1;
          top: 50%;
        }
      }

      &:hover {
        background-color: #2f3136;

        .delete-file-icon {
          top: 5px;
          right: 5px;
          opacity: 1;
          pointer-events: auto;
        }

        .lock-icon {
          bottom: 8px;
          right: 5px;
          opacity: 0.4;
          pointer-events: auto;

          &.is-lock {
            opacity: 1;
          }
        }

        .date {
          opacity: 1;
          top: 50%;
        }

        .img-container .icon {
          color: styles.$itemHover;
        }
      }

      .delete-file-icon {
        position: absolute;
        top: -8px;
        right: -8px;
        opacity: 0;
        transition: 0.4s right, 0.4s top, 0.3s opacity;
        pointer-events: none;
      }

      .lock-icon {
        position: absolute;
        bottom: -8px;
        right: -8px;
        opacity: 0;
        transition: 0.4s right, 0.4s bottom, 0.3s opacity;
        pointer-events: none;
        transform: scaleX(-1);
      }

      .locked-text {
        position: absolute;
        top: 60%;
        left: -1px;
        transform: translate(0%, -50%);
        writing-mode: vertical-lr;
        font-weight: 900;
        color: #63676d;
        opacity: 0;
        font-size: 20px;
        transition: 0.3s opacity, 0.6s top;
        letter-spacing: 1px;
        cursor: auto;
      }

      .date {
        position: absolute;
        top: 40%;
        right: 0px;
        transform: translate(0%, -50%) rotate(180deg);
        writing-mode: vertical-lr;
        font-weight: 900;
        color: #63676d;
        opacity: 0;
        font-size: 20px;
        transition: 0.3s opacity, 0.6s top;
        letter-spacing: 1px;
        cursor: auto;
      }

      .img-container {
        width: 80%;
        height: 85%;
        @include styles.displayFlex(row, center, center);

        .img-html {
          max-width: 100%;
          max-height: 100%;
          border-radius: styles.$smallBorderRadius;
          z-index: 3;
        }

        .icon {
          font-size: 145px;
          transition: 0.3s color;
        }

        .other-icon {
          position: relative;

          &::after {
            content: "?";
            color: #2f3136;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -35%) scale(1.2, 1.1);
            font-size: 90px;
            font-family: "Barlow Condensed", sans-serif;
          }
        }
      }

      .details-container {
        width: 80%;
        height: 10%;
        @include styles.displayFlex(row, center, center);

        p {
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: styles.$itemNormal;
        }
      }
    }
  }

  .empty-container {
    width: 100%;
    height: 100%;
    @include styles.displayFlex(column, center, center);

    h4 {
      letter-spacing: 0.7px;
      color: #72767d;
    }
  }
}

@keyframes move-up-arrow {
  0% {
    bottom: -120%;
  }
  50% {
    bottom: -90%;
  }
  100% {
    bottom: -120%;
  }
}
