<div class="files-body" appFileDrop (dropFilesEmitter)="onFileInput($event)">
  <div class="controls">
    <div class="file-length icon" *ngIf="files.length > 0">
      <span>
        {{ files.length }}
      </span>
      <i class="fas fa-file-upload">
        <p class="tooltip">Number of files uploaded</p>
      </i>
    </div>
    <i class="fas fa-plus-square icon" (click)="fileInput.click()">
      <p class="tooltip">Upload files</p>
      <input
        #fileInput
        type="file"
        style="display: none"
        multiple
        (change)="onFileInput($event.target.files)"
      />
    </i>
    <i
      class="fas fa-trash"
      (click)="clearFiles()"
      [ngClass]="files.length > 0 ? 'icon' : 'disable-icon'"
    >
      <p class="tooltip move-left">Delete unlocked files</p>
    </i>
    <i
      class="fas fa-arrow-circle-up icon arrow-up"
      *ngIf="files.length === 0"
    ></i>
  </div>

  <div
    class="duplicate-msg"
    [ngClass]="shouldShowExistMsg ? 'show-duplicate' : 'hide-duplicate'"
  >
    <p>File already exists 🙁</p>
  </div>

  <div
    #fileContainer
    class="files-container"
    *ngIf="files.length > 0 || spinners.length > 0; else showEmptyFile"
  >
    <div
      class="file-item"
      *ngFor="let file of files; index as i"
      [ngClass]="file.isLocked ? 'locked-ui' : ''"
    >
      <small class="locked-text">LOCKED</small>
      <i
        class="fas fa-times-circle icon delete-file-icon"
        (click)="deleteFile(i)"
      ></i>
      <i
        (click)="toggleLock(i)"
        class="fas fa-lock icon lock-icon is-lock"
        [style.display]="file.isLocked ? 'block' : 'none'"
      ></i>
      <i class="fas fa-share sharee-icon icon"></i>
      <i
        (click)="toggleLock(i)"
        class="fas fa-lock-open icon lock-icon"
        [style.display]="!file.isLocked ? 'block' : 'none'"
      ></i>
      <small class="file-size">{{ fileService.formatBytes(file.size) }}</small>
      <a
        #downloadTag
        (click)="downloadFile(file, i)"
        class="img-container"
        download="{{ file.name }}"
        [innerHtml]="file.innerHTML"
      >
      </a>
      <div class="details-container">
        <p>{{ file.name }}</p>
      </div>
    </div>

    <div *ngFor="let spinner of spinners" class="file-item loading-item">
      <img src="assets/loading_gif.gif" alt="" />
    </div>
  </div>

  <ng-template #showEmptyFile>
    <div class="empty-container" [innerHTML]="emptyContainerText"></div>
  </ng-template>
</div>
