<div class="files-body">
  <div class="controls">
    <i class="fas fa-plus-square icon" (click)="fileInput.click()">
      <input
        #fileInput
        type="file"
        style="display: none"
        multiple
        (change)="onFileInput($event.target.files)"
      />
    </i>
    <i
      class="fas fa-trash"
      (click)="clearFiles()"
      [ngClass]="files.length > 0 ? 'icon' : 'disable-icon'"
    ></i>
    <i
      class="fas fa-arrow-circle-up icon arrow-up"
      *ngIf="files.length === 0"
    ></i>
  </div>

  <div
    #fileContainer
    class="files-container"
    *ngIf="files.length > 0; else showEmptyFile"
  >
    <div
      class="file-item"
      *ngFor="let file of files; index as i"
      [ngClass]="file.isLocked ? 'locked-ui' : ''"
    >
      <small class="locked-text">LOCKED</small>
      <i
        class="fas fa-times-circle icon delete-file-icon"
        (click)="deleteFile(i)"
      ></i>
      <i
        (click)="toggleLock(i)"
        class="fas fa-lock icon lock-icon is-lock"
        [style.display]="file.isLocked ? 'block' : 'none'"
      ></i>
      <i
        (click)="toggleLock(i)"
        class="fas fa-lock-open icon lock-icon"
        [style.display]="!file.isLocked ? 'block' : 'none'"
      ></i>
      <small class="file-size">{{ fileService.formatBytes(file.size) }}</small>
      <!-- <small class="date">{{ file.date | date: "mediumDate" }}</small> -->
      <a
        #downloadTag
        (click)="downloadFile(file, downloadTag)"
        class="img-container"
        download="{{ file.name }}"
        [innerHtml]="file.innerHTML"
      >
      </a>
      <div class="details-container">
        <!-- <small>{{ fileService.formatBytes(file.size) }}</small> -->
        <p>{{ file.name }}</p>
      </div>
    </div>

    <div *ngFor="let spinner of spinners" class="file-item loading-item">
      <img src="assets/loading_gif.gif" alt="" />
    </div>
  </div>

  <ng-template #showEmptyFile>
    <div class="empty-container">
      <h4>No files added yet 😕</h4>
    </div>
  </ng-template>
</div>
