@use "../../../styles.scss" as styles;

.login-body {
  width: 100%;
  height: 100%;
  @include styles.displayFlex(row, center, space-between);
}

.register-container,
.login-container {
  width: 35%;
  height: 60vh;
  background-color: styles.$containers;
  border-radius: styles.$borderRadius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-top: 70px;
  transition: 0.3s transform;
}

.register-container {
  border-radius: 0 styles.$borderRadius styles.$borderRadius 0;
  transform: translateX(-100%);
}

.login-container {
  border-radius: styles.$borderRadius 0 0 styles.$borderRadius;
}

.show-register {
  .register-container {
    transform: translateX(0);
  }
  .login-container {
    transform: translateX(100%);
  }
}

.show-login {
  .register-container {
    transform: translateX(-100%);
  }
  .login-container {
    transform: translateX(0);
  }
}
