<div class="login-body" [ngClass]="isRegister ? 'show-register' : 'show-login'">
  <div class="login-header">
    <span class="why-button btn" (click)="toggleModal()">
      <h4>Why <i class="fas fa-question-circle"></i></h4>
    </span>
  </div>
  <div class="login-containers">
    <div class="register-container">
      <button (click)="onRegisterClicked()">Register</button>
    </div>
    <div class="login-container">
      <button routerLink="/home">Login</button>
      <button (click)="onSignUpClicked()">Sign Up</button>
    </div>
  </div>

  <div
    class="why-modal"
    [ngClass]="shouldShowModal ? 'show-modal' : 'hide-modal'"
  >
    <div class="why-body">
      <button (click)="toggleModal()">Close</button>
    </div>
  </div>
</div>
