<div class="login-body" [ngClass]="isRegister ? 'show-register' : 'show-login'">
  <div class="login-header">
    <div class="stars-header">
      <div class="stars-text"><h4>Application Rating</h4></div>
      <div class="stars-container">
        <span class="stars-span" *ngFor="let star of stars">
          <img src="assets/star.svg" alt="" />
        </span>
      </div>
    </div>
    <span class="modal-button btn" (click)="toggleModal()">
      <h4>Guide <i class="fas fa-question-circle"></i></h4>
    </span>

    <span class="kshare-title">
      <h2>kshared</h2>
      <p>Share data between devices</p>
    </span>
  </div>
  <div class="entry-containers">
    <div class="register-container">
      <Form class="main" [formGroup]="registerForm">
        <div class="user-input">
          <div class="input-parent">
            <input
              type="text"
              placeholder="Username"
              type="text"
              autocomplete="off"
              spellcheck="false"
              maxlength="10"
              formControlName="username"
              (keydown)="onInputKeydown()"
            />
            <small *ngIf="registerForm.get('username').hasError('symbolError')"
              >No symbol or space allowed</small
            >
            <small *ngIf="registerForm.get('username').hasError('shortError')"
              >Min 5 characters required</small
            >
            <i
              class="fas fa-check-circle check username-check"
              [ngClass]="
                registerForm.get('username').hasError('shortError') ||
                registerForm.get('username').hasError('symbolError') ||
                serverResponse.status === 204
                  ? 'invalid-check'
                  : 'valid-check'
              "
            ></i>
            <small *ngIf="serverResponse.status === 204"
              >This Username is taken</small
            >
          </div>
        </div>

        <div class="user-input">
          <div class="input-parent">
            <input
              [type]="hidePassword[0] ? 'password' : 'text'"
              placeholder="Password"
              autocomplete="off"
              maxlength="10"
              spellcheck="false"
              formControlName="password"
              (keydown)="onInputKeydown()"
            />
            <small *ngIf="registerForm.get('password').hasError('spaceError')"
              >No space allowed</small
            >
            <small *ngIf="registerForm.get('password').hasError('shortError')"
              >Min 5 characters required</small
            >
            <i
              class="fas fa-check-circle check"
              [ngClass]="
                registerForm.get('password').hasError('spaceError') ||
                registerForm.get('password').hasError('shortError')
                  ? 'invalid-check'
                  : 'valid-check'
              "
            ></i>
            <i
              class="fas fa-eye eye"
              [style.display]="hidePassword[0] ? 'none' : 'flex'"
              (click)="toggleEyePassword(0)"
            ></i>

            <i
              class="fas fa-eye-slash eye"
              [style.display]="hidePassword[0] ? 'flex' : 'none'"
              (click)="toggleEyePassword(0)"
            ></i>
          </div>
        </div>

        <div class="user-input">
          <div class="input-parent">
            <input
              [type]="hidePassword[1] ? 'password' : 'text'"
              placeholder="Confirm Password"
              autocomplete="off"
              maxlength="10"
              spellcheck="false"
              formControlName="confirmPassword"
            />
            <small
              *ngIf="
                registerForm.get('confirmPassword').value.length > 0 &&
                registerForm.get('password').value !==
                  registerForm.get('confirmPassword').value
              "
              >Passwords do not match</small
            >
            <i
              class="fas fa-check-circle check"
              [ngClass]="
                registerForm.get('confirmPassword').value.length === 0 ||
                registerForm.get('password').value !==
                  registerForm.get('confirmPassword').value
                  ? 'invalid-check'
                  : 'valid-check'
              "
            ></i>
            <i
              class="fas fa-eye eye"
              [style.display]="hidePassword[1] ? 'none' : 'flex'"
              (click)="toggleEyePassword(1)"
            ></i>

            <i
              class="fas fa-eye-slash eye"
              [style.display]="hidePassword[1] ? 'flex' : 'none'"
              (click)="toggleEyePassword(1)"
            ></i>
          </div>
        </div>

        <div class="actions">
          <button
            type="submit"
            class="btn"
            (click)="onRegisterClicked()"
            [ngClass]="
              registerForm.invalid ||
              registerForm.get('password').value !==
                registerForm.get('confirmPassword').value
                ? 'disable-btn'
                : 'enable-btn pop-btn'
            "
          >
            <h4>Register</h4>
          </button>
          <button class="btn" (click)="onCancelClicked()">
            <h4>Cancel</h4>
          </button>
        </div>
      </Form>

      <div class="sidebar">
        <span>R</span>
        <span>E</span>
        <span>G</span>
        <span>I</span>
        <span>S</span>
        <span>T</span>
        <span>E</span>
        <span>R</span>
      </div>
    </div>
    <div class="login-container">
      <div class="sidebar">
        <span>L</span>
        <span>O</span>
        <span>G</span>
        <span>I</span>
        <span>N</span>
      </div>
      <Form class="main" [formGroup]="loginForm">
        <div class="user-input">
          <div class="input-parent">
            <input
              type="text"
              autocomplete="off"
              maxlength="10"
              spellcheck="false"
              placeholder="Username"
              formControlName="loginUsername"
              (keydown)="onInputKeydown()"
            />
            <small
              *ngIf="loginForm.get('loginUsername').hasError('symbolError')"
              >No symbol or space allowed</small
            >
            <small *ngIf="loginForm.get('loginUsername').hasError('shortError')"
              >Min 5 characters required</small
            >
            <i
              class="fas fa-check-circle check username-check"
              [ngClass]="
                loginForm.get('loginUsername').hasError('shortError') ||
                loginForm.get('loginUsername').hasError('symbolError') ||
                serverResponse.status === 205
                  ? 'invalid-check'
                  : 'valid-check'
              "
            ></i>
            <small *ngIf="serverResponse.status === 205">{{
              serverResponse.message
            }}</small>
          </div>
        </div>

        <div class="user-input">
          <div class="input-parent">
            <input
              [type]="hidePassword[2] ? 'password' : 'text'"
              placeholder="Password"
              autocomplete="off"
              spellcheck="false"
              maxlength="10"
              formControlName="loginPassword"
              (keydown)="onInputKeydown()"
            />
            <small *ngIf="loginForm.get('loginPassword').hasError('spaceError')"
              >No space allowed</small
            >
            <small *ngIf="loginForm.get('loginPassword').hasError('shortError')"
              >Min 5 characters required</small
            >
            <i
              class="fas fa-check-circle check"
              [ngClass]="
                loginForm.get('loginPassword').hasError('spaceError') ||
                loginForm.get('loginPassword').hasError('shortError') ||
                serverResponse.status === 206
                  ? 'invalid-check'
                  : 'valid-check'
              "
            ></i>
            <small *ngIf="serverResponse.status === 206">{{
              serverResponse.message
            }}</small>
            <i
              class="fas fa-eye eye"
              [style.display]="hidePassword[2] ? 'none' : 'flex'"
              (click)="toggleEyePassword(2)"
            ></i>

            <i
              class="fas fa-eye-slash eye"
              [style.display]="hidePassword[2] ? 'flex' : 'none'"
              (click)="toggleEyePassword(2)"
            ></i>
          </div>
        </div>
        <div class="actions">
          <button
            class="btn"
            type="submit"
            (click)="onLoginClicked()"
            [ngClass]="loginForm.invalid ? 'disable-btn' : 'enable-btn pop-btn'"
          >
            <h4>Login</h4>
          </button>
          <button class="btn" (click)="onSignUpClicked()">
            <h4>Sign Up</h4>
          </button>
        </div>
      </Form>
    </div>
  </div>

  <p
    class="registration-response"
    [ngClass]="showRegisteredMessage ? 'show-response' : 'hide-response'"
  >
    Your account has been registered!
  </p>

  <div
    class="modal"
    (click)="onModalClicked($event)"
    [ngClass]="shouldShowModal ? 'show-modal' : 'hide-modal'"
  >
    <div class="modal-body about-modal-body">
      <div class="modal-item">
        <div class="modal-title">
          <h2>What is KShared?</h2>
          <p>
            KShare allows you to share or transfer files and texts straight away
            across devices!
          </p>
          <p>And you can see the changes live on your devices!!</p>
        </div>
        <div class="modal-close">
          <i class="fas fa-window-close icon" (click)="toggleModal()"></i>
        </div>
      </div>

      <div class="modal-media">
        <img src="assets/modal-home.png" alt="" />
      </div>

      <div class="modal-item">
        <div class="modal-subtitle">
          <h3>Texts</h3>
          <p>
            Need to open a link on your phone while you are on your computer?
            Copy & paste the link here and you got it on other devices!
          </p>
          <p>
            You can save your texts and view them as notes until you delete
            them.
          </p>
          <p>
            Even if you refresh the browser or leave the page, your text remains
            untouched and is saved on the text zone.
          </p>
        </div>
      </div>

      <div class="modal-media">
        <img src="assets/modal-textarea.png" alt="" />
      </div>

      <div class="modal-guide">
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-heart"></i>
          </span>
          <span class="guide-text">
            This saves your text as a note on the container to the left!
          </span>
        </div>
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-copy"></i>
          </span>
          <span class="guide-text">
            This copies your text to the clipboard!
          </span>
        </div>
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-times-circle"></i>
          </span>
          <span class="guide-text"> This clears the textarea zone!</span>
        </div>
      </div>

      <div class="modal-item">
        <div class="modal-subtitle">
          <h3>Files</h3>
          <p>
            No need of USB flash drive/pendrive or USB cables to transfer files
            from one device to another..
          </p>
          <p>
            Just upload them on KShare and they are instantly ready to be
            downloaded on another device by clicking upon the file itself!
          </p>
          <p>
            You can lock your files so that you don't delete them by mistake!
          </p>
        </div>
      </div>

      <div class="modal-media">
        <img src="assets/modal-files.png" alt="" />
      </div>

      <div class="modal-guide">
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-plus-square"></i>
          </span>
          <span class="guide-text">Use this icon to upload a new file!</span>
        </div>
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-trash"></i>
          </span>
          <span class="guide-text"
            >This icon clears all the files which are not locked!</span
          >
        </div>
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-lock"></i>
          </span>
          <span class="guide-text"
            >Use this to lock/unlock your files. If locked, you cannot delete
            the file!</span
          >
        </div>
        <div class="guide-item">
          <span class="guide-icon">
            <i class="fas fa-times-circle"></i>
          </span>
          <span class="guide-text"
            >This icon deletes the current clicked file if the latter is not
            locked!</span
          >
        </div>
      </div>
    </div>
  </div>

  <i class="fas fa-mobile-alt login-design login-design-mobile"></i>
  <i class="fas fa-desktop login-design login-design-desktop"></i>
</div>
