@use "../../../styles.scss" as styles;

.login-body {
  width: 100%;
  height: 100%;
  @include styles.displayFlex(column, center, center);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 275%;
}

.login-header {
  width: 100%;
  height: 10vh;
  padding-right: 20px;
  position: relative;
  @include styles.displayFlex(row, center, space-between);

  .stars-header {
    width: 20%;
    height: 100%;
    @include styles.displayFlex(column, center, center);

    .stars-text {
      width: 100%;
      height: 35%;

      h4 {
        text-align: center;
        color: styles.$fadeText;
        letter-spacing: 1px;
      }
    }

    .stars-container {
      width: 80%;
      height: 50%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 100%;
      align-items: center;
      justify-items: center;
      align-self: center;
      position: relative;

      .stars-span {
        @include styles.displayFlex(row, center, center);

        img {
          max-width: 60%;
          filter: grayscale(100%);

          &.light-star {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  .modal-button {
    padding: 6px 10px;

    &:hover {
      i {
        transform: rotate(1turn);
      }
    }
  }

  .kshare-title {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h2 {
      font-size: 3rem;
      letter-spacing: 2px;
      color: white;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
      user-select: none;

      &::first-letter {
        color: rosybrown;
      }
    }

    p {
      font-size: 1.3rem;
      color: styles.$fadeText;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-weight: bold;
    }
  }
}

.entry-containers {
  width: 100%;
  height: 90vh;
  transform-style: preserve-3d;
  perspective: 500px;
  @include styles.displayFlex(row, center, space-between);
}

.register-container,
.login-container {
  width: 35%;
  height: 60vh;
  // background-color: styles.$containers;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba($color: styles.$containers, $alpha: 0.07);
  transition: 0.7s transform;
  user-select: none;
  backdrop-filter: blur(10px);
  position: relative;
  transform-style: preserve-3d;
  z-index: 10;
  @include styles.displayFlex(row, center, center);

  .sidebar {
    width: 14%;
    height: 100%;
    @include styles.displayFlex(column, center, space-evenly);
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
  }

  .main {
    width: 86%;
    height: 100%;
    @include styles.displayFlex(column, center, space-evenly);

    .input-parent {
      width: 70%;
      height: 50%;
      position: relative;
      // background-color: #40444b;
      border-radius: styles.$smallBorderRadius styles.$smallBorderRadius
        styles.$smallBorderRadius styles.$smallBorderRadius;

      input {
        width: 100%;
        height: 100%;
        font-size: 20px;
        border-radius: styles.$smallBorderRadius styles.$smallBorderRadius
          styles.$smallBorderRadius styles.$smallBorderRadius;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        background-color: initial !important;
      }

      .check {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: styles.$validColor;
        transition: 0.3s right, 0.3s opacity;
        font-size: 1.1rem;

        &.invalid-check {
          right: 15px;
          opacity: 0;
        }

        &.valid-check {
          right: 15px;
          opacity: 1;

          & ~ .eye {
            right: 21%;
          }
        }
      }

      .username-check.invalid-check {
        right: 0 !important;
      }
      .username-check.valid-check {
        right: 15px !important;
      }

      .eye {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: styles.$validColor;
        transition: 0.6s right cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        color: styles.$itemNormal;
        font-size: 1.3rem;

        &:hover {
          color: styles.$itemHover;
        }
      }

      small {
        position: absolute;
        color: styles.$invalidColor;
        top: 115%;
        left: 0;
        letter-spacing: 0.8px;
      }
    }

    .btn {
      padding: 5px 14px;

      h4 {
        font-size: 18px;
        color: white;
        letter-spacing: 0.5px;
      }

      &:nth-child(1) {
        background-color: styles.$btnColor;
      }
    }
  }
}

.register-container {
  border-radius: 0 styles.$borderRadius styles.$borderRadius 0;
  transform: translateX(-100%);

  .user-input {
    width: 100%;
    height: 25%;
    @include styles.displayFlex(row, center, space-evenly);
  }

  .actions {
    width: 100%;
    height: 25%;
    @include styles.displayFlex(row, center, space-evenly);
  }
}

.login-container {
  border-radius: styles.$borderRadius 0 0 styles.$borderRadius;

  .user-input {
    width: 100%;
    height: 30%;
    @include styles.displayFlex(row, center, space-evenly);
  }

  .actions {
    width: 100%;
    height: 30%;
    @include styles.displayFlex(row, center, space-evenly);
  }
}

.show-register {
  .register-container {
    transform: translateX(0);
    box-shadow: 15px 0px 35px rgba(0, 0, 0, 0.5);
  }
  .login-container {
    transform: translateX(100%);
    box-shadow: none;
  }
  .login-design-mobile {
    transform: translate(175%, -50%);
  }
  .login-design-desktop {
    transform: translate(-18%, -50%);
  }
}

.show-login {
  .register-container {
    transform: translateX(-100%);
    box-shadow: none;
  }
  .login-container {
    transform: translateX(0);
    box-shadow: -15px 0px 35px rgba(0, 0, 0, 0.5);
  }
  .login-design-mobile {
    transform: translate(75%, -50%);
  }
  .login-design-desktop {
    transform: translate(-70%, -50%);
  }
}

.registration-response {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: styles.$validColor;
  padding: 10px 20px;
  border-radius: styles.$smallBorderRadius;
  letter-spacing: 0.3s;
  transition: 0.7s bottom cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show-response {
  bottom: 5vh;
}

.hide-response {
  bottom: -10vh;
}

.pop-btn {
  animation: pop-out 2s infinite ease-in-out;
}

@keyframes pop-out {
  0% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(0.98);
  }
}

.login-design {
  position: absolute;
  top: 50%;
  z-index: -1;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.25s;
  font-size: 15rem;
  color: #68727f;
}

.login-design-mobile {
  left: 50%;
  transform: translate(75%, -50%);
}

.login-design-desktop {
  right: 50%;
  transform: translate(-60%, -50%);
}
