@use "../../../styles.scss" as styles;

.login-body {
  width: 100%;
  height: 100%;
  @include styles.displayFlex(column, center, center);
}

.login-header {
  width: 100%;
  height: 10vh;
  position: relative;

  .why-button {
    position: absolute;
    width: 60px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    h4 {
      text-align: center;
      user-select: none;

      i {
        margin: 0 3px;
        transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }

    &:hover {
      i {
        transform: rotate(1turn);
      }
    }
  }
}

.why-container {
  width: 100%;
  height: 100%;
  background-color: styles.$modalBkg;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s transform, 0.35s opacity;

  &.show-modal {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
  }

  &.hide-modal {
    transform: translate(-50%, -50%) scale(0.4);
    pointer-events: none;
    opacity: 0;
  }
}

.login-containers {
  width: 100%;
  height: 90vh;
  @include styles.displayFlex(row, center, space-between);
}

.register-container,
.login-container {
  width: 35%;
  height: 60vh;
  background-color: styles.$containers;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: 0.7s transform;
}

.register-container {
  border-radius: 0 styles.$borderRadius styles.$borderRadius 0;
  transform: translateX(-100%);
}

.login-container {
  border-radius: styles.$borderRadius 0 0 styles.$borderRadius;
}

.show-register {
  .register-container {
    transform: translateX(0);
  }
  .login-container {
    transform: translateX(100%);
  }
}

.show-login {
  .register-container {
    transform: translateX(-100%);
  }
  .login-container {
    transform: translateX(0);
  }
}
