<div
  class="modal-body share-modal-body"
  *ngIf="!notificationSent; else showNotifSent"
>
  <div class="share-details">
    <div class="share-iconn">
      <span [innerHtml]="getCurrentIcon()"></span>
    </div>
    <div class="share-info">
      <div>
        <p>{{ currentItem?.text || currentItem?.name }}</p>
      </div>
      <p>
        {{
          (currentItem?.date | date: "d MMM YYYY") ||
            fileService.formatBytes(currentItem?.size)
        }}
      </p>
    </div>
  </div>
  <div class="shared-main">
    <div class="share-search">
      <div class="search-input">
        <input
          type="text"
          placeholder="Search for user"
          spellcheck="false"
          autocomplete="off"
          [(ngModel)]="shareUserText"
          (ngModelChange)="onShareUserChange()"
          (keyup.enter)="addShareUser()"
        />
        <i
          class="fas fa-user-plus"
          [ngClass]="
            hasFoundUser && !checkIfShareUserExists() ? 'icon' : 'disable-icon '
          "
          (click)="addShareUser()"
        >
          <p class="tooltip">Add User</p>
        </i>
      </div>

      <div class="search-input-msg">
        <p
          class="search-error"
          [style.display]="
            shareUserText?.length > 0 && !hasFoundUser ? 'flex' : 'none'
          "
        >
          No user found!
        </p>
        <p
          class="search-error"
          [style.display]="checkIfShareUserExists() ? 'flex' : 'none'"
        >
          User already added!
        </p>
        <p
          class="search-found"
          [style.display]="
            shareUserText?.length > 0 &&
            hasFoundUser &&
            !checkIfShareUserExists()
              ? 'flex'
              : 'none'
          "
        >
          User found
          <small
            >Press Enter or click <i class="fas fa-user-plus"></i> to
            select</small
          >
        </p>
      </div>
    </div>
    <div class="selected-users">
      <h3 *ngIf="getAddedShareUsers().length === 0; else showUsers">
        No users added.. 😕
      </h3>
      <ng-template #showUsers>
        <div
          class="shared-lists"
          *ngFor="let user of shareService.sharedUsers; index as index"
        >
          <i class="fas fa-user"></i>
          <p>{{ user.username }}</p>
          <i
            class="fas fa-times-circle icon"
            (click)="shareService.removeShareUser(index)"
          ></i>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="share-actions">
    <button class="btn" (click)="cancelShare()">
      <h4>Cancel</h4>
    </button>
    <button
      class="btn"
      (click)="sendNotification()"
      [ngClass]="getSharedUsersLength() === 0 ? 'disable-btn' : ''"
    >
      <h4>Share</h4>
    </button>
  </div>
</div>

<ng-template #showNotifSent>
  <div class="modal-body share-modal-body">
    <i
      class="fas fa-times-circle icon close-modal"
      (click)="onModalClicked($event)"
    ></i>
    <div class="notif-sent-msg">
      <i class="far fa-check-circle"></i>
      <h3>Notifications sent</h3>
    </div>
  </div>
</ng-template>
