<div class="modal-body about-modal-body">
  <div class="modal-item">
    <div class="modal-title">
      <h2>What is KShared?</h2>
      <p>
        KShare allows you to share or transfer files and texts straight away
        across devices!
      </p>
      <p>And you can see the changes live on your devices!!</p>
    </div>
    <div class="modal-close">
      <i class="fas fa-window-close icon" (click)="closeModal()"></i>
    </div>
  </div>

  <div class="modal-media">
    <img src="assets/modal-home.png" alt="" />
  </div>

  <div class="modal-item">
    <div class="modal-subtitle">
      <h3>Texts</h3>
      <p>
        Need to open a link on your phone while you are on your computer? Copy &
        paste the link here and you got it on other devices!
      </p>
      <p>
        You can save your texts and view them as notes until you delete them.
      </p>
      <p>
        Even if you refresh the browser or leave the page, your text remains
        untouched and is saved on the text zone.
      </p>
    </div>
  </div>

  <div class="modal-media">
    <img src="assets/modal-textarea.png" alt="" />
  </div>

  <div class="modal-guide">
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-heart"></i>
      </span>
      <span class="guide-text"
        >Save text as a note on the container to the left!
      </span>
    </div>
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-copy"></i>
      </span>
      <span class="guide-text">Copy your text to the clipboard! </span>
    </div>
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-times-circle"></i>
      </span>
      <span class="guide-text">Clear the textarea zone!</span>
    </div>
  </div>

  <div class="modal-item">
    <div class="modal-subtitle">
      <h3>Files</h3>
      <p>
        No need of USB flash drive/pendrive or USB cables to transfer files from
        one device to another..
      </p>
      <p>
        Just upload them on KShare and they are instantly ready to be downloaded
        on another device by clicking upon the file itself!
      </p>
      <p>You can lock your files so that you don't delete them by mistake!</p>
    </div>
  </div>

  <div class="modal-media">
    <img src="assets/modal-files.png" alt="" />
  </div>

  <div class="modal-guide">
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-plus-square"></i>
      </span>
      <span class="guide-text">Upload one or multiple files!</span>
    </div>
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-trash"></i>
      </span>
      <span class="guide-text">Clear all the files which are not locked!</span>
    </div>
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-lock"></i>
      </span>
      <span class="guide-text"
        >Lock/unlock your files. If locked, you cannot delete the file!</span
      >
    </div>
    <div class="guide-item">
      <span class="guide-icon">
        <i class="fas fa-times-circle"></i>
      </span>
      <span class="guide-text"
        >Delete the current clicked file if the latter is not locked!</span
      >
    </div>
  </div>
</div>
