@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

$mainBkg: #2f3136;
$containers: #36393f;
$borderRadius: 10px;
$smallBorderRadius: 5px;
$itemNormal: #b9bbbe;
$itemHover: #dcddde;

@mixin displayFlex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:not(i) {
    font-family: "Barlow Condensed", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $mainBkg;
}

// global
.icon {
  color: $itemNormal;
  cursor: pointer;

  &:hover {
    color: $itemHover;
  }
}
