@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

$mainBkg: #2f3136;
$containers: #36393f;
$borderRadius: 10px;
$smallBorderRadius: 5px;
$itemNormal: #b9bbbe;
$itemHover: #dcddde;
$modalBkg: #18191c;
$btnColor: #677bc4;
$invalidColor: #ed5269;
$validColor: #abe8ab;
$fadeText: #72767d;
$selectionColor: #8167a9;

@mixin displayFlex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:not(i) {
    font-family: "Barlow Condensed", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  &::selection {
    color: $selectionColor;
    background: $containers;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $mainBkg;
}

// global
.icon {
  color: $itemNormal;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $itemHover;
  }
}

.disable-icon {
  color: #b9bbbe;
  opacity: 0.3 !important;
  cursor: initial;
}

input {
  border: none;
  outline: none;
  color: white;
  padding: 0 5px;
  background-color: #40444b;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  border-radius: $smallBorderRadius;
  padding: 6px 0;
  background-color: #68727f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: 0.15s opacity;

  h4 {
    text-align: center;
    user-select: none;
    letter-spacing: 0.3px;

    i {
      margin: 0 3px;
      transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &:active {
    filter: brightness(1.2);
  }
}

.disable-btn {
  pointer-events: none;
  opacity: 0.3;
}

.enable-btn {
  pointer-events: all;
  opacity: 1;
}

// modal
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
  left: 0%;
  transition: 0.4s opacity, 0.5s clip-path;
  @include displayFlex(row, center, center);
  user-select: none;
  z-index: 100;

  .modal-body {
    width: 50vw;
    height: 70vh;
    border-radius: $borderRadius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #262a33;
    transition: 0.3s transform;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220%;
  }

  &.show-modal {
    pointer-events: all;
    opacity: 1;
    clip-path: circle(100% at 50% 50%);

    .modal-body {
      transform: scale(1);
    }
  }

  &.hide-modal {
    pointer-events: none;
    opacity: 0;
    clip-path: circle(30% at 50% 50%);

    .modal-body {
      transform: scale(0);
    }
  }
}

@media all and (max-width: 825px) {
  .modal-body {
    width: 70vw !important;
  }
}

@media all and (max-width: 600px) {
  .modal-body {
    width: 90vw !important;
  }
}

@media all and (max-width: 500px) {
  body {
    position: fixed;
  }
}
