<div class="list-container" *ngIf="noteList?.length > 0; else emptyList">
  <div class="filter-container">
    <div class="notes-length icon left-note-icon">
      <span>{{ noteList.length }}</span>
      <i class="fas fa-signature">
        <p class="tooltip">Number of notes saved</p>
      </i>
    </div>
    <div class="input-container">
      <input
        type="text"
        placeholder="Seach for note"
        spellcheck="false"
        autocomplete="off"
        [(ngModel)]="filterText"
        (ngModelChange)="onFilterChange()"
      />
      <div>
        <i class="fas fa-times-circle icon" (click)="clearFilter()">
          <p class="tooltip">Clear filter</p>
        </i>
      </div>
    </div>
  </div>
  <i class="fas fa-plus-square icon plus-icon" (click)="addNewNote()">
    <p class="tooltip">New note</p>
  </i>
  <div class="lists">
    <div
      class="list-item"
      *ngFor="let note of noteList"
      [style.display]="note.canShow ? 'flex' : 'none'"
    >
      <div
        class="list-item-p"
        (click)="onNoteClicked(note)"
        [style.maxHeight]="note.welcomeNote ? '6vh' : '10vh'"
      >
        <span class="date">{{ note.date | date: "MMM d" }}</span>
        <p>{{ note.text }}</p>
      </div>
      <div class="list-control">
        <i class="fas fa-times-circle icon" (click)="deleteNote(note)"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyList>
  <div class="empty-list">
    <i class="fas fa-plus-square icon plus-icon" (click)="addNewNote()">
      <p class="tooltip">New note</p>
    </i>
    <h4>No notes added yet 🤨</h4>
    <p>Save your text and it appears as a note here!</p>
  </div>
</ng-template>
