<div class="list-container" *ngIf="noteList?.length > 0; else emptyList">
  <div class="list-inner-container" *ngIf="!isNoteOpened; else openedContainer">
    <div class="list-inner-header">
      <div class="notes-length icon left-note-icon">
        <span>{{ noteList.length }}</span>
        <i class="fas fa-signature">
          <p class="tooltip">Number of notes saved</p>
        </i>
      </div>
      <div class="input-container">
        <input
          type="text"
          placeholder="Seach for note"
          spellcheck="false"
          autocomplete="off"
          [(ngModel)]="filterText"
          (ngModelChange)="onFilterChange()"
        />
        <div>
          <i class="fas fa-times-circle icon" (click)="clearFilter()">
            <p class="tooltip">Clear filter</p>
          </i>
        </div>
      </div>
      <div></div>

      <i class="fas fa-plus-square icon plus-icon" (click)="addNewNote()">
        <p class="tooltip">New note</p>
      </i>
    </div>

    <div class="lists">
      <div
        class="list-item"
        *ngFor="let note of noteList"
        [style.display]="note.canShow ? 'flex' : 'none'"
      >
        <div
          class="list-item-p"
          (click)="onNoteClicked(note)"
          [style.maxHeight]="note.welcomeNote ? '6vh' : '10vh'"
        >
          <span class="date">{{ note.date | date: "MMM d" }}</span>
          <p>{{ note.text }}</p>
        </div>
        <i
          class="fas fa-times-circle icon list-control"
          (click)="deleteNote(note)"
        ></i>
      </div>

      <div class="empty-list" *ngIf="filterText && isFilterEmpty()">
        <h4>No such note was found 🤕</h4>
      </div>
    </div>
  </div>
</div>

<!-- when clicked on a note to open it -->
<ng-template #openedContainer>
  <div class="list-inner-container">
    <div class="list-inner-header">
      <div class="inner-date">
        <span *ngIf="currentNote">
          <span>Date created: </span>
          <span>{{ currentNote.date | date: "d MMM YYYY" }}</span>
        </span>
      </div>
      <div class="inner-header-actions">
        <i
          class="fas fa-share icon"
          *ngIf="openTextAreaValue"
          (click)="openShareModal()"
          ><p class="tooltip">Share your note</p></i
        >
        <i
          class="fas fa-copy icon"
          *ngIf="openTextAreaValue"
          (click)="copyToClipboard(openTextArea)"
        >
          <p class="tooltip">Copy note</p>
        </i>
        <i class="fas fa-check-circle icon" (click)="closeOpenNote()">
          <p class="tooltip">Close note</p>
        </i>
      </div>
    </div>

    <div class="lists open-note-list">
      <textarea
        #openTextArea
        class="open-note-textarea"
        [(ngModel)]="openTextAreaValue"
        (keyup)="onKeyup()"
        spellcheck="false"
        placeholder="{{ textareaPlaceholder }}"
      ></textarea>
    </div>
  </div>
</ng-template>

<!-- when there is no note -->
<ng-template #emptyList>
  <div class="empty-list">
    <i class="fas fa-plus-square icon plus-icon" (click)="addNewNote()">
      <p class="tooltip">New note</p>
    </i>
    <h4>No notes added yet 🤨</h4>
    <p>Add a new note by pressing on the Plus sign at top right</p>
  </div>
</ng-template>

<div
  class="modal"
  (click)="onModalClicked($event)"
  [ngClass]="showShareModal ? 'show-modal' : 'hide-modal'"
>
  <div class="modal-body share-modal-body">
    <div class="share-details">
      <div class="share-iconn">
        <i class="fas fa-sticky-note"></i>
      </div>
      <div class="share-info">
        <div>
          <p>{{ currentNote?.text }}</p>
        </div>
        <p>{{ currentNote?.date | date: "d MMM YYYY" }}</p>
      </div>
    </div>
    <div class="shared-main">
      <div class="share-search">
        <div class="search-input">
          <input
            type="text"
            placeholder="Search for user"
            spellcheck="false"
            autocomplete="off"
            [(ngModel)]="shareUserText"
            (ngModelChange)="onShareUserChange()"
            (keyup.enter)="addShareUser()"
          />
          <i
            class="fas fa-user-plus"
            [ngClass]="hasFoundUser ? 'icon' : 'disable-icon '"
            (click)="addShareUser()"
          >
            <p class="tooltip">Add User</p>
          </i>
        </div>
        <p class="search-error" *ngIf="!hasFoundUser">No user found</p>
        <p class="search-found" *ngIf="hasFoundUser">User found</p>
      </div>
      <div class="selected-users">
        <p *ngIf="getAddedShareUsers().length === 0; else showUsers">
          No users added..
        </p>
        <ng-template #showUsers>
          <div
            class="shared-lists"
            *ngFor="let user of shareService.sharedUsers; index as index"
          >
            <i class="fas fa-user"></i>
            <p>{{ user.username }}</p>
            <i
              class="fas fa-times-circle icon"
              (click)="shareService.removeShareUser(index)"
            ></i>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="share-actions">
      <button class="btn" (click)="cancelShare()">
        <h4>Cancel</h4>
      </button>
      <button class="btn" (click)="sendNoteNotification()">
        <h4>Share</h4>
      </button>
    </div>
  </div>
</div>
