<div
  class="hamburger"
  (mouseover)="showNavbar()"
  [ngClass]="showNav ? 'hide-hamburger' : 'show-hamburger'"
>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="navbar-item">
  <h3><span>@</span>{{ currentUser?.username }}</h3>
  <i class="confetti-icon icon">
    <p class="tooltip show-bottom">Confettis</p>
    <app-confetti-icon></app-confetti-icon>
  </i>
  <i class="fas fa-info-circle icon" (click)="toggleGuideModal()">
    <p class="tooltip show-bottom">View guide</p>
  </i>
  <i
    class="fas fa-sign-out-alt icon"
    routerLink="/"
    (click)="onLogOutClicked()"
  >
    <p class="tooltip show-bottom move-left">Log out</p>
  </i>
</div>

<div
  class="modal"
  (click)="onModalClicked($event)"
  [ngClass]="shouldShowGuide ? 'show-modal' : 'hide-modal'"
>
  <app-guide (closeModalEmitter)="toggleGuideModal()"></app-guide>
</div>
