<div
  class="hamburger"
  (mouseover)="showNavbar()"
  [ngClass]="showNav ? 'hide-hamburger' : 'show-hamburger'"
>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="navbar-item">
  <h3><span>@</span>{{ currentUser?.username }}</h3>
  <i class="fas fa-bell icon" (click)="showNotificationModal()">
    <div *ngIf="currentUser?.notifications.length > 0">
      <span>{{ currentUser?.notifications.length }}</span>
    </div>
    <p class="tooltip show-bottom">Notifications</p>
  </i>
  <i class="confetti-icon icon">
    <p class="tooltip show-bottom">Confettis</p>
    <app-confetti-icon></app-confetti-icon>
  </i>
  <i class="fas fa-info-circle icon" (click)="toggleGuideModal()">
    <p class="tooltip show-bottom">View guide</p>
  </i>
  <i
    class="fas fa-sign-out-alt icon"
    routerLink="/"
    (click)="onLogOutClicked()"
  >
    <p class="tooltip show-bottom move-left">Log out</p>
  </i>
</div>

<div
  class="modal"
  (click)="onModalClicked($event)"
  [ngClass]="shouldShowGuide ? 'show-modal' : 'hide-modal'"
>
  <app-guide (closeModalEmitter)="toggleGuideModal()"></app-guide>
</div>

<!-- notification modal -->
<div
  class="modal"
  (click)="onModalClicked($event)"
  [ngClass]="shouldShowNotifModal ? 'show-modal' : 'hide-modal'"
>
  <div class="modal-body">
    <i
      class="fas fa-times-circle icon close-modal"
      (click)="onModalClicked($event)"
    ></i>
    <div
      class="notif-modal"
      *ngIf="currentUser?.notifications.length > 0; else noNotif"
    >
      <h3>{{ getNotificationTitle() }}</h3>
      <div class="notif-container">
        <div
          class="notif-item"
          *ngFor="
            let notification of currentUser?.notifications;
            index as index
          "
        >
          <i class="fas fa-sticky-note"></i>
          <div>
            <p class="notif-name">{{ notification.name }}</p>
            <p class="notif-sender">
              <span>From: </span>
              <span>{{ notification.from }}</span>
            </p>
          </div>
          <i
            class="fas fa-check-circle icon"
            (click)="acceptNotification(notification)"
          ></i>
          <i
            class="fas fa-trash icon"
            (click)="removeNotification(notification)"
          ></i>
        </div>
      </div>
    </div>
    <ng-template #noNotif>
      <div class="notif-modal">
        <h3 class="no-notif-msg">No notification received 😔</h3>
      </div>
    </ng-template>
  </div>
</div>
