@use "../../../styles.scss" as styles;

:host {
  width: 100%;
  height: 47%;
  @include styles.displayFlex(row, flex-end, center);
  padding-bottom: 15px;
}

.files-body {
  width: 97%;
  height: 90%;
  background-color: styles.$containers;
  border-radius: styles.$borderRadius;
  position: relative;

  .controls {
    height: 6vh;
    position: absolute;
    top: -3vh;
    right: 20px;
    border-radius: styles.$smallBorderRadius;
    border: 1px solid #32353b;
    background-color: #40444b;
    @include styles.displayFlex(row, center, center);
    padding: 0 10px;

    i {
      font-size: 18px;
      margin: 0 10px;
    }

    .arrow-up {
      position: absolute;
      left: 20px;
      margin: 0;
      animation: move-up-arrow 2s ease-out infinite;
      color: #72767d;
      pointer-events: none;
    }
  }

  .empty-container {
    width: 100%;
    height: 100%;
    @include styles.displayFlex(column, center, center);

    h4 {
      letter-spacing: 0.7px;
      color: #72767d;
    }
  }
}

@keyframes move-up-arrow {
  0% {
    bottom: -120%;
  }
  50% {
    bottom: -90%;
  }
  100% {
    bottom: -120%;
  }
}
